
 h2{
    font-size: 30px;
color: rgb(252, 249, 249);}
.header{
    background: rgb(9, 103, 245);
   height: 170px;
   width: 450px;
   text-align: center;
   padding: 20px;
}
#Input{
    padding: 10px;
    width: 350px;
    font-size: 20px;
    border-radius: 3px;
}
.addBtn{
    background: yellow;
    width: 40px;
    padding: 11px;
    margin-left: -4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 3px;
}
.addBtn:hover{
    background: #bbb;
    
}
 
ul {
    list-style: none;
    margin-left: -40px;
    margin-top: -1px;
 }
 ul li {
    padding: 20px;
    background: #eee;
    
    font-size: 25px;
    width: 450px;
    cursor: pointer;
    font-weight: 500;

 }
 
 ul li:hover{
    color: aqua;
    background: black;
    border-radius: 20px;
 }
 
 .close{
    float: right;
    padding: 20px;
    top: -30px;
    height: 20px;
    margin-top: -15px;
    
}
   

  .close:hover {
    background-color: #f44336;
    color: white;
   
  }

  #demo {
   text-align: center;
    background: #bbb;
    border-radius: 20px;
    width: 200px;
   margin-left: 150px;
   
  }
  @media only screen and (max-width:1500px) {
    .container {
        margin-left: 370px;
    }
  }
   @media only screen and (min-width:1800px) {
   
    .container {
        margin-left: 700px;
    }
   }
   @media only screen and (max-width:600px) {
    .container {
        margin-left: -3px;
    }
  }

 