
  
 h2{
    font-size: 30px;
color: #eee;}
.header{
    background: rgb(7, 90, 83);
   height: 170px;
   width: 450px;
   text-align: center;
   padding: 20px;
}
#myInput{
    padding: 10px;
    width: 350px;
    font-size: 20px;
}
.addBtn{
    background: yellow;
    width: 40px;
    padding: 11px;
    margin-left: -4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.addBtn:hover{
    background: #bbb;
    
}
 
ul {
    list-style: none;
    margin-left: -40px;
    margin-top: -1px;
 }
 ul li {
    padding: 20px;
    background: #eee;
    
    font-size: 25px;
    width: 450px;
    cursor: pointer;
    font-weight: 500;

 }
 
 ul li:hover{
    color: aqua;
    background: black;
 }
 
 .close{
    float: right;
    padding: 20px;
    top: -30px;
    height: 20px;
    margin-top: -15px;
    
}
   

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  